.jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.active-language {
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 20px;
    display: block;
}

ul.nav.navbar-nav.language-select {
    float: left;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #428bca;
}




@media all and (min-width: 768px) {

    ul.nav.navbar-nav.language-select {
        float: right;
    }

    .active-language {
        color:white;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

}
